.elementor-213 .elementor-element.elementor-element-663ed5c7>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content:center;
	align-items:center
}
.elementor-213 .elementor-element.elementor-element-663ed5c7:not(.elementor-motion-effects-element-type-background),.elementor-213 .elementor-element.elementor-element-663ed5c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:#232323
}
.elementor-213 .elementor-element.elementor-element-663ed5c7 {
	transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
	padding:50px 0
}
.elementor-213 .elementor-element.elementor-element-663ed5c7>.elementor-background-overlay {
	transition:background .3s,border-radius .3s,opacity .3s
}
.elementor-213 .elementor-element.elementor-element-19b379f5 .elementor-text-editor {
	text-align:center
}
.elementor-213 .elementor-element.elementor-element-19b379f5 {
	color:#fff;
	font-size:16px;
	font-weight:300;
	line-height:1.7em
}
.elementor-213 .elementor-element.elementor-element-19b379f5>.elementor-widget-container {
	padding:0 55px 0 0
}
@media(max-width:1024px) {
	.elementor-213 .elementor-element.elementor-element-663ed5c7 {
		padding:100px 25px
	}
}
@media(max-width:767px) {
	.elementor-213 .elementor-element.elementor-element-663ed5c7 {
		padding:50px 20px
	}
	.elementor-213 .elementor-element.elementor-element-19b379f5 .elementor-text-editor {
		text-align:center
	}
	.elementor-213 .elementor-element.elementor-element-19b379f5>.elementor-widget-container {
		padding: 0
	}
}